body{
    margin: 0;
    padding: 0;
    font-family: 'Alkatra', sans-serif;
}

/* Navbar */
.main-navbar{
    background-color: #181824;
}
.name{
    color: #7562E0;
    margin: 0;
    font-size: 28px;
}
.r-nav-txt{
    margin: 0;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 0 15px;
}
.nav{
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

/* Main Content */
.main-container{
    background-color: #1A1A29;
    /* background-color: #17172e; */
}
.new-container{
    width: 1100px;
    margin: auto;
}
.cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 65vh; */
    padding: 150px 0;
}
.cta-left{
    color: white;
    width: 500px;
}
.p1{
    font-size: 32px;
    margin: 0;
}
.p2{
    font-size: 52px;
    margin: 0;
}
.p3{
    font-size: 18px;
    margin: 0 0 25px 0;
}
.cta-btn{
    display: flex;
}
.abt{
    background-color: #7562E0;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
.abt i{
    width: 16px;
    color: white;
    padding: 0 7px;
}
.abme-btn{
    background-color: transparent;
    border: none;
    font-family: Alkatra;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.prj{
    background-color: transparent;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #7562E0;
    border-radius: 10px;
    margin-left: 30px;
    cursor: pointer;
}
.prj:hover{
    background-color: #7562E0;
}
.prj i{
    width: 18px;
    color: white;
    padding: 0 7px;
}
.prj-btn{
    background-color: transparent;
    border: none;
    font-family: Alkatra;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.bg-img{
    background-color: #7562E0;
    clip-path: circle(45% at 50% 58%);
    margin: auto;
    display: flex;
}

/* About Me */
.about{
    color: white;
}
.abt-head{
    color: #7562E0;
    font-size: 32px;
    margin-bottom: 0;
}
.abt-p{
    margin-top: 0;
    font-size: 19px;
}
.abt-exp{
    display: flex;
    align-items: center;
}
.exp{
    color: #7562E0;
    font-size: 56px;
    font-weight: bold;
    margin: 0;
}
.exp-txt{
    font-size: 24px;
    padding-left: 30px;
}

/* Education */
.education{
    color: white;
}
.edu-head{
    color: #7562E0;
    font-size: 32px;
    margin-bottom: 0;
}
.education-txt{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 35px;
}
.edu-txt{
    display: flex;
    align-items: center;
    background-color: #BDBDBD;
    width: 350px;
    height: 80px;
    padding: 25px;
    border-radius: 15px;
    transition: 0.5s;
}
.edu-txt:hover{
    background-color: #7562E0;
    transform: translate(0, -10px);
}
.et i{
    font-size: 48px;
    padding-right: 25px;
}
.et-p1{
    margin: 0;
    padding-left: 25px;
}
.white-line{
    width: 3px;
    border-radius: 5px;
    height: 80px;
    background-color: white;
    display: flex;
}

/* Tech Stacks */
.tech-stacks{
    /* color: white; */
}
.ts-h{
    font-size: 32px;
    color: #7562E0;
    margin-top: 60px;
    margin-bottom: 0;
}
.s-name{
    color: white;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: bold;
}
.s-bar{
    height: 14px;
    background-color: #BDBDBD;
    border-radius: 5px;
}
.s-per{
    height: 14px;
    background-color: #7562E0;
    border-radius: 5px;
    position: relative;
    animation: fillbars 2.5s 1;
}
.s-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    top: -38px;
    right: 0;
    transform: translateX(50%);
}
.s-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}
@keyframes fillbars {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/* Projects */
.phead{
    font-size: 32px;
    margin-bottom: 0;
    color: #7562E0;
    margin-top: 60px;
}
.projects{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-card{
    background-color: #31313F;
    width: 280px;
    padding: 30px;
    border-radius: 15px;
    transition: 0.5s;
}
.p-card:hover{
    transform: translate(0, -10px);
}
.p-img{
    width: 280px;
    margin: auto;
}
.p-img img{
    /* width: 100px; */
    /* margin: auto; */
    /* text-align: center; */
    width: 100%;
    height: 150px;
    border-radius: 20px;
    opacity: 0.6;
}
.p-info{
    width: 280px;
    margin: auto;
}
.p-title{
    font-size: 24px;
    color: #7562E0;
    margin-top: 20px;
}
.p-txt{
    color: white;
    font-size: 18px;
}
.p-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.live-btn{
    width: 120px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 35px;
    background-color: #7562E0;
    border: none;
    border-radius: 10px;
}
.live-btn a{
    text-decoration: none;
    color: white;
}
.git-btn{
    width: 120px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 35px;
    background-color: transparent;
    border: 2px solid #7562E0;
    border-radius: 10px;
}
.git-btn a{
    text-decoration: none;
    color: white;
}

/* Experience */
.exph{
    font-size: 32px;
    color: #7562E0;
    margin-top: 60px;
}
:root {
    --primary-color: #212121;
    --background-color: #111;
    --font: sans-serif;
}
.timeline {
    margin: 20px auto;
    padding: 20px;
}
.card {
    position: relative;
    max-width: 560px;
    margin: auto;
}
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}
.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid #7562E0;
}
.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}
.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}
.info {
    display: flex;
    flex-direction: column;
    background: #31313F;
    color: gray;
    border-radius: 10px;
    padding: 10px;
}
.title {
    color: #7562E0;
    position: relative;
    margin-bottom: 0;
}
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid #7562E0;
}
.card:nth-child(even) > .info > .title {
    text-align: right;
}
.card:nth-child(odd) > .info > .title::before {
    left: -45px;
}
.card:nth-child(even) > .info > .title::before {
    right: -45px;
}

/* Contact */
.contact-main{
    margin-top: 60px;
}
.contact{
    display: flex;
    justify-content: space-between;
}
.con-head{
    font-size: 32px;
    color: #7562E0;
    margin-bottom: 0;
}
.con-txt{
    font-size: 18px;
    color: white;
    margin-top: 10px;
}
.icons i{
    color: #7562E0;
    font-size: 30px;
    margin: 10px;
}
.c-right{
    display: flex;
    flex-direction: column;
}
.c-ano{
    color: white;
    font-size: 28px;
}
.con-inp{
    background-color: #31313F;
    width: 470px;
    height: 60px;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    margin: 15px 0;
    color: white;
    font-size: 18px;
}
.con-msg{
    background-color: #31313F;
    width: 470px;
    height: 90px;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    margin: 15px 0 30px 0;
    color: white;
    font-size: 18px;
}
.send-btn{
    width: 150px;
    background-color: #7562E0;
    color: white;
    font-size: 18px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.end-main{
    margin-top: 60px;
}
.end{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.end-p{
    font-size: 15px;
    color: white;
    margin: 0;
}

/* Arrow */
.arrow{
    background-color: #7562E0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    bottom: 100px;
    right: 100px;
}
.arrow i{
    color: white;
    font-size: 24px;
}